<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function toggleAnswer(answer_id) {
            var answer_content = $('#answer-' + answer_id + ' .answer-content');
            var toggle_button = $('#answer-' + answer_id + ' .toggle-answer');

            if (answer_content.is(':visible')) {
                answer_content.hide();
                toggle_button.text('Show Answer');
            } else {
                answer_content.show();
                toggle_button.text('Hide Answer');
            }
        }
    </script>
</head>
<body>
    <h1>Admin Portal</h1>
    <table border="1">
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Search Terms</th>
            <th>Vote</th>
            <th>Comment</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.question}}</td>
            <td id="answer-{{ item.id }}">
                <button class="toggle-answer" onclick="toggleAnswer('{{ item.id }}')">Show Answer</button>
                <div class="answer-content" style="display:none">{{ item.answer|safe }}</div>
            </td>
            <td>{{ item.search_terms }}</td>
            <td>{{ item.vote }}</td>
            <td>{{ item.comment }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/delete_all" method="post">
        <button type="submit">Delete All Entries</button>
    </form>
</body>
</html>
